
a{
    color: white;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;
    padding: 25px 9px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
font-size: 30px;
font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 32px;
}
.navbar ul li a{
    font-size: 21px;
    font-weight: 500;
    transition: .4s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    color: salmon;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9px 0;
    color: bisque;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 33px;
    margin-top: -10px;
}
.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px seagreen;
    animation: display-text 16s linear infinite ;

}
@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.home-info p{
    font-size: 17px;
    margin: 16px 0 25px;
}
.btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    border: 2px solid;
    background: yellowgreen;
    border-radius: 30px;
    padding: 13px 10px;
    display: inline-block;
    box-shadow: 0 0 10px gray;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: .4s;
}
.btn:hover{
    cursor: pointer;
    background: turquoise;
}
.sci{
    margin-left: 20px;

}
.sci a{
    border: 2px solid powderblue;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    font-size: 22px;
    color: cornsilk;
    margin: 0 8px;
}
.sci a:hover{
    background: chocolate;
    box-shadow: 0 0 10px;
}

.img-box{
    width: 30vw;
    height: 30vw;
    background: lavender;
    border-radius: 50%;
    padding: 3px;
    
}
.img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #141414;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}
.img-box .img-item img{
    position: absolute;
    display: block;
    object-fit: cover;
    mix-blend-mode: lighten;

}
@media (max-width:700px) {
    body {
        flex-direction: column;
        text-align: center;
    }
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
  width: 100%;
    height: 100%;
    background: #1f242d;
    border: 1.5px solid rebeccapurple;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    100%{
         transform: translateY(0%);

    }
}

/*------about-----*/

.container{
background: #464f5f;
background-position: cover;
background-size: 100%;
position: relative;
padding: 70px 20px;


}
.container .info{
    width: 90%;
    height: 100%;
    align-items: center;
    margin: 8px 12px;
    display: block;
}
.container .info h1{
    text-align: center;
    padding: 8px 12px;
}
.container .info h1 span{
    color: beige;
    text-decoration: none;

}
.info p{
    text-align: center;
    color: cornsilk;
    font-size: 18px;
    font-weight: 200;
    justify-items: center;
    padding-top: 15px;
    margin-bottom: 20px;
    
}

.shift{
    
    background:#464f5f ;
    background-position: center;
    position: relative;  
}
.follow-c{
    width: 100%;
    height: 100%;
    display: block;
    
}
.follow-c h2{
    font-size: 21px;
    font-weight: 600;
    color: cadetblue;
    margin:10px 30px;
    text-align: center;
    padding-top: 45px;
}
.follow-c h2 span{
    color: azure;
}
.through{
    text-shadow: #1f242d;
    justify-content: center;
    padding: 17px 15px;
    display: block;
}
.through p{
    text-align: center;
    font-size: 19.2px;
    color: black;
    font-style: oblique;
    
}
.mails{
    display: inline-block;
    padding: 12px 8px;
    align-items: center;

}
.mails h4{
    font-size: 20.6px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
    color:darkgrey;
       
}
.mails h4 span{
    text-shadow: #1f242d;
}